* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
}

li {
    font-size: 24px;
    list-style: none;
}

h1 {
    text-align: left;
    font-weight: bolder;
    font-size: 32px;
    margin-bottom: 20px;
    background-color: orange;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}
.card {
    width: 200px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}


.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-title {
    color: orange;
    padding: 10px;
    font-size: 20px;
    margin: 0;
    text-decoration: none;
}

ul {
    text-align: center;
    margin-top: 20px;
}

#food-image {
    height: 500px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.Ingredients li, .Instructions li {
    font-size: 18px;
    margin-left: 10px;
}


a {
    text-decoration: none;
}